@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Grand+Hotel&family=League+Gothic&family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
a{
  color:black !important;
}

.brand-logo{
  font-family: 'Cormorant Garamond', serif;
  margin-left: 20px;
  font-weight:bolder;
}

.RakeshCard{
    margin-top:170px;
}

.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 500px;
  margin: 10px auto;
}
.margin2{
  font-size:x-large;
  font-weight: bolder;
}
.margin1{
  margin-top: 15px;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item{
  width: 30%;
}

.home-card{
  max-width: 500px;
  height:max-content;
  margin: 26px auto;
}

.modal{
  width: 30%;
  margin-right: 10%;
}
#modal1{
  width: 20% !important;
}